Python: 3.8.0+
required python packages:

pandas
numpy
scipy
scikit
cv2 (opencv)

On linux, it is recommended that you install these with your respective package manager. For instance, you can install them on arch linux with:
sudo pacman -Syu python-numpy python-pandas python-scipy python-scikit-learn opencv hdf5 vtk

Otherwise, you can use the python package manager pip:
pip install --user numpy pandas scipy scikit-learn opencv-python
